







<div class="landing_pic">
<%= image_tag "image_travel.jpg"%>

<p><span>About us</span><br><br><br>GMIT is an applications made for people who love traveling, have no idea where you want to go we give you idea's to make your life easier.<br>  we care about you and your time which is why we created a simple solution to your travel problems easy to use and fun to use enjoy more trips and less thinking about where to go.</p>
</div>
