@import url('https://fonts.googleapis.com/css?family=Frijole|Sura&display=swap');
@import "bootstrap";

@import 'subscriptions';

// located only in navbar currently
.logo {
    height: 60px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;

}

.test {
    font-family: 'Frijole', cursive;
    font-size: 2rem;

}

.navbar {
    font-family: 'Sura', serif;
    font-size: 1.2rem;

    a:hover{
        text-decoration: none;  
    }
}

// sign in and out box 
.sign-box {
    font-family: 'Sura', serif;

    background-image: linear-gradient(to right, #00885a , #89c997);
    height: 75vh;
    width: 65vw;
    margin: auto;
    margin-top: 50px;
    
    // border radius
    border-radius: 9px;

    // h1 styling and paragraph within sign box
        h1{
            text-align: center;
            font-size: 5.5em;
        }

        p{
            text-align: center;
            font-size: 1.5em;
        }

    //  
    
}


.custom-bg {
    background: #00885a;
}