// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center{
    text-align: center;
    font-family: 'Sura', serif;
    h1{
        font-size: 4em;
        font-weight: bold;
    }
}



