



.landing_pic {/*親div*/
    position: relative;/*相対配置*/
    }
  
  .landing_pic p {
    position: absolute;/*絶対配置*/
    color: rgb(0,0,0);/*文字は白に*/
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    font-size: 2.5rem;
    margin-top: 100px;
    font-weight: bold;
    }
    .landing_pic span{
        text-align: center;
    }
  
  .landing_pic img {
    width: 1600px;
    height: 700px;
    border-radius: 0px;
    margin-bottom: 0px;
    }